padding: 1rem;.App {
  font-family: 'Segoe UI', sans-serif;
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  color: #000;
  transition: 0.3s ease;
  padding-bottom: 4rem;
}

.App.dark {
  background-color: #121212;
  color: #e0e0e0;
}



/* Responsive */
@media (max-width: 480px) {
  .App {
   padding: 1rem;
  }

 
  }
}
