.App {
  font-family: 'Segoe UI', sans-serif;
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  color: #000;
  transition: 0.3s ease;
  padding-bottom: 4rem;
}

.App.dark {
  background-color: #121212;
  color: #e0e0e0;
}

.toggle-mode {
  margin: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: #5a2a6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 480px) {
  .App {
    padding: 1rem;
  }

  .toggle-mode {
    width: 100%;
  }
}
